<a href="https://colab.research.google.com/github/ciepielajan/Geopy-/blob/main/geopy_geocoders_Nominatim.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from geopy.geocoders import Nominatim
from geopy.distance import geodesic
 
import pandas as pd
 
geolocator = Nominatim(user_agent="miroslawmamczur.pl")
 
def geo_near(adress, tag, limit=10):
    # zdefiniowanie dataframe
    df = pd.DataFrame(columns = ['Name', 'distance'])
    # geolokalizacja adresu
    location = geolocator.geocode(adress, exactly_one=False)
    # geo najbliższych rzeczy oznaczonych w OSM jako tags
    location_near = geolocator.geocode(tag+' near ' + adress, 
                                       exactly_one=False,
                                       addressdetails=True, 
                                       extratags=True, 
                                       limit=limit)
 
    if location_near is None:
        print('Nic nie znalazłem :(')
    else:
        for i in range(len(location_near)):
            df.loc[i] = [location_near[i][0].split(',', 1)[0],
                         round(geodesic(location[0][1], 
                                        location_near[i][1]).km,2)]
             
    return df.sort_values(by='distance').reset_index(drop=True)

In [ ]:
adress = 'liściasta 10, kraków'
tag = 'school'
 
geo_near(adress, tag)

                                                Name  distance
0                            Szkoła Podstawowa nr 40      0.43
1  Niepubliczna Chrześcijańska Szkoła Podstawowa ...      0.72
2  Szkoła Podstawowa nr 49 imienia Juliana Ursyna...      0.96
3  Szkoła Podstawowa z Oddziałami Integracyjnymi ...      1.07
4  Szkoła Podstawowa z Oddziałami Integracyjnymi ...      1.19
5                         Szkoła Podstawowa numer 53      1.56
6                   Open Future International School      2.09
7                         Centrum Edukacji Graceland      2.14
8                            Szkoła Podstawowa nr 62      2.17
9  Publiczna Szkoła Podstawowa nr 97 w Krakowie i...      2.44

In [ ]:
adress = 'warszawa'
tag = 'subway'
 
geo_near(adress, tag)

     Name  distance
0  Subway      0.44
1  Subway      0.49
2  Subway      0.53
3  Subway      0.57
4  Subway      1.42
5  Subway      5.99
6  Subway      6.77
7  Subway      6.94
8  Subway      8.64
9  Subway      8.73

In [ ]:
from geopy.geocoders import Nominatim
 
geolocator = Nominatim(user_agent="nauka.pl")

adress = 'Wrocław Rynek 9'
location = geolocator.geocode(adress)
location

Location(Santander, 9-11, Rynek, Dzielnica Czterech Świątyń, Osiedle Stare Miasto, Wrocław, województwo dolnośląskie, 50-106, Polska, (51.1098784, 17.0301279, 0.0))